<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    <!-- header -->

    <title>Uprink</title>
    <meta name="description" content="404 - Page not found">

    <!-- style -->

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/frameWork.css">

</head>

<body>

    <div class="content404 f-3 c-w" role="main" aria-label="404 error page">
        <div aria-hidden="true">
            <svg width="500" height="500" viewBox="0 0 864 956" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_0_1)">
                    <path
                        d="M435.919 322.719C553.98 274.665 599.388 139.513 647.442 257.574C695.496 375.635 463.266 691.381 345.205 739.435C227.144 787.488 267.96 549.654 219.906 431.593C171.852 313.532 317.858 370.773 435.919 322.719Z"
                        fill="url(#paint0_linear_0_1)" />
                </g>
                <path
                    d="M308.383 422.907C308.383 422.907 295.141 429.207 294.022 442.414C292.903 455.622 326.401 491.83 326.401 491.83L418.274 434.026L384.563 383.16L308.383 422.907Z"
                    fill="#C7DCF9" />
                <path
                    d="M330.296 433.842C330.296 433.842 320.959 444.818 318.65 456.422C316.342 468.025 317.318 488.403 318.345 495.991C334.244 508.831 392.614 493.237 392.614 493.237L445.096 422.337C445.096 422.337 434.195 404.642 428.95 399.943C423.705 395.244 407.382 390.063 389.533 398.683C379.796 414.69 330.296 433.842 330.296 433.842Z"
                    fill="#E1ECFF" />
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M326.177 439.47C326.177 439.47 348.788 445.08 373.052 433.776C397.316 422.472 400.001 395.062 400.001 395.062L389.522 398.687L330.296 433.842L326.177 439.47Z"
                        fill="#E1ECFF" />
                </g>
                <path
                    d="M421.881 516.539C421.881 516.539 449.875 514.832 457.873 516.31C465.872 517.788 489.86 563.486 498.775 567.414C507.69 571.343 514.499 563.359 523.612 557.157C532.724 550.956 540.965 543.639 541.048 540.812C541.13 537.984 536.344 527.032 532.706 525.002C529.068 522.972 518.938 523.495 513.773 527.316C504.385 506.243 490.984 475.493 480.351 471.852C469.719 468.212 438.245 468.261 438.245 468.261L421.881 516.539Z"
                    fill="#E1ECFF" />
                <g style="mix-blend-mode:multiply" opacity="0.51">
                    <path
                        d="M449.925 493.93C449.925 493.93 472.877 494.887 479.743 502.941C486.609 510.996 502.58 562.037 516.624 562.324C517.982 579.114 489.477 587.135 489.477 587.135L414.974 514.798L449.925 493.93Z"
                        fill="#E1ECFF" />
                </g>
                <path
                    d="M346.416 517.36C346.416 517.36 366.056 552.288 382.325 561.079C398.595 569.87 426.815 567.167 435.048 573.087C443.282 579.007 443.722 610.086 452.07 617.763C460.418 625.44 471.725 629.726 481.914 628.11C492.103 626.495 499.974 621.024 499.767 616.403C499.56 611.782 498.878 607.809 493.895 605.673C488.911 603.537 481.986 601.946 481.501 599.096C481.015 596.247 472.619 552.935 469.558 541.215C466.496 529.496 447.824 514.166 424.635 507.373C401.998 490.876 369.604 500.782 369.604 500.782L346.416 517.36Z"
                    fill="#E1ECFF" />
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M352.073 526.677C352.073 526.677 371.888 526.354 389.097 517.367C384.49 499.549 373.675 494.925 373.675 494.925L346.416 517.36L352.073 526.677Z"
                        fill="#E1ECFF" />
                </g>
                <path
                    d="M366.688 336.372C350.664 329.136 318.064 328.529 299.73 354.691C281.397 380.853 293.104 405.914 302.319 417.327C311.97 429.306 343.524 446.48 374.603 426.255C405.681 406.031 405.568 353.936 366.688 336.372Z"
                    fill="#E1ECFF" />
                <path
                    d="M365.05 351.724C379.008 354.079 389.231 372.752 385.862 391.518C382.493 410.284 367.437 423.764 349.605 425.067C331.773 426.37 313.214 415.386 311.774 392.604C310.393 370.709 334.739 346.614 365.05 351.724Z"
                    fill="#1C3177" />
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M335.194 498.549C352.532 489.035 337.864 470.971 355.416 465.454C379.166 467.213 385.591 465.574 385.591 465.574C385.591 465.574 343.253 508.135 335.194 498.549Z"
                        fill="#E1ECFF" />
                </g>
                <path
                    d="M346.686 446.813L381.642 521.451L423.713 517.605L460.617 490.604L469.75 454.97L436.222 373.189L425.327 413.267L392.143 443.518L346.686 446.813Z"
                    fill="#FF97C9" />
                <path
                    d="M335.194 498.549C345.016 497.083 349.612 490.313 352.413 487.258C353.839 485.699 353.449 484.443 352.397 480.293C351.346 476.144 353.72 471.654 357.237 469.564C359.6 474.811 362.126 475.666 364.006 475.286C365.885 474.906 367.07 463.442 373.279 463.124C379.488 462.806 385.015 470.677 386.12 474.719C387.224 478.76 384.007 490.719 379.535 499.261C375.062 507.802 368.656 518.436 352.909 522.69C337.162 526.943 327.537 519.405 321.612 509.454C319.613 506.095 318.652 501.333 318.347 495.975C318.347 495.975 322.239 500.452 335.194 498.549Z"
                    fill="#E1ECFF" />
                <path
                    d="M447.769 401.355C447.769 401.355 450.086 407.409 448.968 409.904C447.85 412.4 446.24 414.51 445.168 417.681C444.095 420.853 446.776 432.353 452.549 433.97C458.322 435.586 462.635 430.045 463.919 426.92C465.204 423.795 463.844 415.907 461.266 410.518C458.687 405.129 454.21 400.487 447.769 401.355Z"
                    fill="#E1ECFF" />
                <path
                    d="M449.071 324.107L450.508 326.582C450.594 326.732 450.716 326.859 450.862 326.952C451.008 327.044 451.175 327.099 451.348 327.113L454.204 327.322C454.403 327.337 454.595 327.408 454.756 327.526C454.918 327.644 455.043 327.805 455.117 327.991C455.192 328.177 455.213 328.38 455.178 328.577C455.143 328.775 455.053 328.958 454.919 329.107L453.009 331.245C452.893 331.374 452.81 331.529 452.767 331.698C452.725 331.866 452.724 332.042 452.765 332.21L453.434 334.979C453.481 335.173 453.473 335.377 453.411 335.566C453.348 335.756 453.234 335.925 453.081 336.053C452.928 336.181 452.741 336.264 452.544 336.292C452.346 336.32 452.144 336.292 451.961 336.212L449.339 335.054C449.18 334.984 449.007 334.953 448.834 334.964C448.661 334.976 448.494 335.03 448.346 335.121L445.903 336.62C445.733 336.726 445.536 336.781 445.336 336.781C445.135 336.78 444.939 336.723 444.769 336.617C444.6 336.51 444.463 336.358 444.376 336.178C444.288 335.997 444.253 335.796 444.275 335.597L444.57 332.763C444.588 332.59 444.563 332.416 444.498 332.255C444.433 332.094 444.33 331.952 444.198 331.839L442.018 329.977C441.866 329.847 441.752 329.678 441.691 329.487C441.63 329.296 441.623 329.092 441.672 328.898C441.721 328.704 441.823 328.527 441.967 328.388C442.111 328.249 442.292 328.154 442.487 328.112L445.289 327.521C445.459 327.485 445.616 327.408 445.749 327.296C445.882 327.185 445.985 327.043 446.05 326.883L447.142 324.237C447.218 324.05 447.345 323.888 447.508 323.77C447.671 323.652 447.865 323.582 448.066 323.568C448.267 323.555 448.468 323.598 448.646 323.693C448.823 323.789 448.971 323.932 449.071 324.107V324.107Z"
                    fill="#FEC272" />
                <path
                    d="M331.973 604.249L333.178 606.326C333.25 606.452 333.352 606.559 333.475 606.636C333.598 606.713 333.738 606.759 333.883 606.769L336.279 606.953C336.446 606.966 336.606 607.026 336.741 607.125C336.876 607.224 336.981 607.359 337.043 607.515C337.106 607.67 337.123 607.84 337.094 608.005C337.065 608.17 336.99 608.324 336.879 608.448L335.275 610.237C335.176 610.346 335.106 610.477 335.071 610.62C335.036 610.763 335.036 610.912 335.073 611.054L335.632 613.388C335.671 613.551 335.663 613.721 335.61 613.88C335.558 614.039 335.462 614.18 335.333 614.288C335.205 614.395 335.049 614.465 334.884 614.489C334.718 614.513 334.549 614.491 334.395 614.424L332.199 613.451C332.066 613.392 331.921 613.367 331.776 613.377C331.631 613.387 331.491 613.431 331.367 613.507L329.329 614.758C329.186 614.846 329.021 614.892 328.853 614.891C328.685 614.89 328.521 614.842 328.379 614.753C328.237 614.663 328.122 614.535 328.049 614.384C327.976 614.233 327.947 614.064 327.965 613.897L328.206 611.509C328.221 611.363 328.2 611.216 328.145 611.079C328.09 610.943 328.003 610.822 327.892 610.727L326.066 609.169C325.939 609.061 325.844 608.919 325.793 608.759C325.742 608.6 325.737 608.429 325.778 608.266C325.818 608.104 325.904 607.956 326.024 607.84C326.145 607.723 326.295 607.643 326.459 607.607L328.805 607.104C328.947 607.074 329.081 607.01 329.193 606.916C329.305 606.823 329.393 606.704 329.448 606.57L330.364 604.35C330.428 604.195 330.535 604.061 330.671 603.963C330.808 603.866 330.969 603.809 331.137 603.798C331.304 603.788 331.472 603.825 331.619 603.904C331.767 603.984 331.889 604.103 331.973 604.249V604.249Z"
                    fill="#FEC272" />
                <g style="mix-blend-mode:soft-light" opacity="0.48">
                    <path
                        d="M354.611 375.541C364.312 372.706 371.364 367.626 370.361 364.195C369.358 360.763 360.681 360.28 350.98 363.114C341.279 365.949 334.227 371.029 335.23 374.46C336.233 377.892 344.91 378.375 354.611 375.541Z"
                        fill="white" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M384.614 486.365C384.614 486.365 372.603 477.005 370.55 477.144C368.498 477.282 363.571 485.653 364.947 487.691C366.322 489.729 373.121 496.248 380.216 497.916C382.179 493.467 384.614 486.365 384.614 486.365Z"
                        fill="#E1ECFF" />
                </g>
                <g style="mix-blend-mode:multiply" opacity="0.5">
                    <path d="M392.143 443.518L423.713 517.605L460.618 490.604L425.327 413.267L392.143 443.518Z"
                        fill="#FF97C9" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M472.804 555.556C469.061 559.108 464.783 562.051 460.127 564.277C455.758 566.308 454.48 569.948 456.275 576.346C458.069 582.745 459.512 592.813 462.492 595.29C465.473 597.766 475.013 595.699 479.589 589.168C477.201 577.069 472.804 555.556 472.804 555.556Z"
                        fill="#E1ECFF" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M494.45 487.623C494.45 487.623 489.013 490.442 489.808 494.299C490.603 498.157 497.594 516.59 499.965 518.134C502.336 519.678 508.812 516.219 508.812 516.219C500.643 497.251 494.45 487.623 494.45 487.623Z"
                        fill="#E1ECFF" />
                </g>
                <path
                    d="M261.084 548.599C256.007 539.664 269.854 528.802 282.25 528.681C294.647 528.561 300.605 539.611 305.266 543.569C315 551.828 315.297 560.531 309.223 564.691C303.148 568.851 267.802 560.418 261.084 548.599Z"
                    fill="#99ADF9" />
                <path
                    d="M500.547 388.727C496.733 385.817 499.439 370.746 507.712 366.703C515.985 362.66 526.804 365.741 529.462 371.535C532.12 377.329 508.365 394.688 500.547 388.727Z"
                    fill="#99ADF9" />
                <path
                    d="M542.769 393.847C541.101 396.6 540.378 404.17 544.361 405.239C548.344 406.309 550.77 398.408 549.131 394.491C547.492 390.574 543.883 392.007 542.769 393.847Z"
                    fill="#99ADF9" />
                <path opacity="0.44"
                    d="M541.472 332.904C538.66 334.469 534.267 340.674 537.196 343.583C540.126 346.493 546.148 340.837 546.671 336.625C547.195 332.414 543.351 331.861 541.472 332.904Z"
                    fill="#99ADF9" />
                <path opacity="0.44"
                    d="M284.136 586.079C281.488 584.248 273.983 583.045 272.663 586.957C271.343 590.869 279.079 593.76 283.078 592.389C287.078 591.018 285.898 587.303 284.136 586.079Z"
                    fill="#99ADF9" />
                <g style="mix-blend-mode:multiply" opacity="0.64">
                    <path
                        d="M302.906 541.184C298.493 542.326 299.483 546.275 301.16 549.799C302.837 553.324 307.948 554.016 311.282 550.467C308.603 545.129 302.906 541.184 302.906 541.184Z"
                        fill="#99ADF9" />
                </g>
                <g style="mix-blend-mode:multiply" opacity="0.64">
                    <path
                        d="M276.806 536.887C273.629 537.459 271.333 542.268 273.843 545.873C276.353 549.478 280.839 551.925 283.231 550.735C285.623 549.545 285.662 543.979 283.645 540.545C281.629 537.112 279.86 536.335 276.806 536.887Z"
                        fill="#99ADF9" />
                </g>
                <g style="mix-blend-mode:multiply" opacity="0.64">
                    <path
                        d="M519.267 369.131C517.548 369.81 515.896 371.831 516.19 373.873C516.485 375.915 518.398 377.587 520.327 377.212C522.255 376.836 523.7 373.584 523.147 371.354C522.595 369.124 520.579 368.617 519.267 369.131Z"
                        fill="#99ADF9" />
                </g>
                <g style="mix-blend-mode:multiply" opacity="0.64">
                    <path
                        d="M500.934 374.387C500.934 374.387 503.497 376.626 503.281 379.378C503.064 382.13 498.91 382.157 498.91 382.157C498.91 382.157 499.213 377.47 500.934 374.387Z"
                        fill="#99ADF9" />
                </g>
                <defs>
                    <filter id="filter0_f_0_1" x="0.507568" y="0.446503" width="863.388" height="955.311"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="105" result="effect1_foregroundBlur_0_1" />
                    </filter>
                    <linearGradient id="paint0_linear_0_1" x1="292.734" y1="760.792" x2="170.055" y2="328.965"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#6DDCFF" />
                        <stop offset="1" stop-color="#7F60F9" />
                    </linearGradient>
                </defs>
            </svg>
        </div>
        <div class="text404 c-white" role="alert">
            <h1>404 - Error</h1>
            <h3 class="rtl f-2" lang="ar">هذه الصفحة غير متوفرة</h3>
            <button style="float: right;">
                <a href="/" aria-label="Return to homepage">العودة للصفحة الرئيسية</a>
            </button>
        </div>
    </div>


</body>

</html>