/* Large Screens (1200px and above) */
@media (min-width: 1200px) {
}

/* Desktop and Small Laptops (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Tablets and Small Screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Mobile Devices (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Small Mobile Devices (575px and below) */
@media (max-width: 575px) {
  .userData {
    display: none;
  }

  .userData-mobile {
    display: flex;
    position: unset;
    right: 0;
    z-index: 5;
    width: min-content;
    border-bottom: 1px solid var;
    margin-top: 80px;
  }

  .notLoggedBtn {
    display: none;
  }

  .notLoggedBtn-mobile {
    display: block;
  }

  .hero {
    font-size: x-large !important;
  }

  .view {
    font-size: small;
  }

  .boxes {
    gap: 15px;
  }

  .books {
    width: 95%;
  }

  .filter {
    width: 35%;
    font-size: smaller;
  }
  .contents {
    display: flex;
    height: max-content;
    margin-top: 10px;
    border-top: 2px solid var(--gray-1);
  }
}
